// .progress-component {
//   border: 1px solid;
//   // height: 100%;
//   // width: 30%;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
// }

.progress-section {
  // border: 1px solid;
  width: 30vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .progress-section {
    width: 100vw;
    height: 30vh;
  }
}
