* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/1x/Background.png") no-repeat;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
} */
